.cardbeer{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: 15px solid #e13e45  ;
    margin-right: 30px;
    width: 29%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.namebeer{
    margin-top: 5px;
   text-align: center;
   margin-bottom: 3px;
    font-family: 'Inter', sans-serif;
}

.imgbeer {
    object-fit: contain;
    max-width: 100%;
    max-height: fit-content;    
}

.cardbeer:hover{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: 15px solid #e13e45  ;
    margin-right: 30px;
    width: 29%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
}